extends ../layout

block content

    .container

        .row
            .col-md-2
            .col-md-8
                .card(style="padding: 5%; margin-top: 20%")
                    .row
                        .col-md-12
                            h2.font-title Register
                    hr
                    br
                    form(action="/auth/signup", method="POST", style="text-align: center;")
                    .row
                        .col-md-2
                        .col-md-8
                            .form-group
                                input(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
                    .row
                        .col-md-2
                        .col-md-8
                            .form-group
                                input(type='email', name='email' class='form-control', placeholder='Email', required)
                    .row
                        .col-md-2
                        .col-md-8
                            .form-group
                                input(type='password', name='password' class='form-control', placeholder='Password', required)
                    br
                    .row
                        .col-md-4
                        .col-md-4
                            .form-group
                                button(class='btn btn-primary btn-block', type='submit') Sign up

                    hr

                    .row
                    .col-md-12(style='text-align: center')
                            a(href='/auth/login').font-text I already have an account