extends ../layout

block content

    .container

        .row
            .col-md-2
            .col-md-8
                .card(style="padding: 5%; margin-top: 20%")
                    .row
                        .col-md-12
                            h2.font-title Register
                    
                    hr
                    br

                    form(action="/auth/signup", method="POST")
                        input(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
                        br
                        input(type='password', name='password' class='form-control', placeholder='Password', required)
                        br
                        input(type='email', name='email' class='form-control', placeholder='Email', required)
                        br
                        select(name='role' class='form-control', required)
                            option User
                            option Super Admin
                        br
                        button(class='btn btn-lg btn-primary btn-block', type='submit') Sign up
                        br
                    hr

                    .row
                    .col-md-12(style='text-align: center')
                            a(href='/auth/login').font-text I already have an account