extends layout

block content
  p.font-text Welcome to Slack-like let's chat together !
  p.font-text This application was made for the purpose of trying out features in Node.js and not becoming a public application.
  a(href="/blog") Let's have a try 
    i.fa.fa-arrow-right(aria-hidden='true') 
      