body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.font-title {
  font-family: 'Bungee', cursive;
}

.font-text {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 2em;
}