extends ../layout

block content

    br
    br
    br

    h1.font-title= "Create your room"
 
    br

    form(method="POST")
        .form-group
            input.form-control.form-control-lg#titleInput(type="text", name="title", placeholder='Titre')
        .form-group
            textarea.form-control.form-control-lg#contentInput(name="content", placeholder='Content')
        input.btn.btn-lg.btn-success(type="submit", value="Create your room") 


