extends ../layout

block content
    
    br
    br
    br

    h1.font-title= "List of rooms"
 
    br

    .list-group
        each post in posts
            a.list-group-item.list-group-item-action.font-text(href="blog/permalink/#{post.permalink}") #{post.title}
            if user.id == post.user || user.role == false
                a(href="blog/delete/#{post._id}", style="color: red;") X Suppression
        a.list-group-item.list-group-item-action.disabled.font-text.not-allowed(href='#') Example that you can't read

    br

    a(href="/blog/create" type='button' class='btn btn-success btn-lg pull-right') Create a new room 
        i.fa.fa-plus(aria-hidden='true')

    a(href="users/account") User account
    br
    a(href="users/list") Users list