extends ../layout

block content

    br

    h1 Your name : #{user.username}

    h1 Your email : #{user.email}

    h1 Your role : 
        if user.role
            | User
        else
            | Super Admin
    a.btn.btn-info(href="edit/#{user._id}", role="button") Change your role

    br
    a(href="delete/#{user._id}") Delete this account