extends ../layout

block content

    br

    h1 Users list

    br

    .list-group
        each user in users
            h5.list-group-item.list-group-item-action.font-text #{user.username} 
                a(href="#", type="button", class="btn btn-info") Changer de rôle 
                a(href="#", type="button", class="btn btn-warning") Muter 
                a(href="#", type="button", class="btn btn-danger") Supprimer